@import './base.css';

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background-size: cover;
  user-select: none;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-image: #2a283a;
  background-repeat: no-repeat;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-gray-400;
}
